html(lang='en')
    head
        title #{user.name}'s Alloy Instances
        style @import url('style.css');
        script(src='//d3js.org/d3.v5.min.js')

    body
        header
            div(class='column')
                a(href=user.html_url)
                    img(class='avatar' src=user.avatar width='30' height='30')
                    .
                        #{user.name}
                | 's Alloy Instances
                div(class='date')
                    | None yet...
        div(class='column gists')
            div(class='none', style='display:none') Sorry, #{user.name} has no Alloy Instances.

        script.
            var formatDate = d3.timeFormat('%B %-d, %Y'),
                parseDate = d3.isoParse;

            render(!{JSON.stringify(gists)});

            function render (gists) {

                if (!gists.length) {
                    d3.select('.none')
                        .style('display', null);
                    return;
                }

                gists.forEach(function (d) {
                    d.created_at = parseDate(d.created_at);
                    d.updated_at = parseDate(d.updated_at);
                });

                gists.sort(function (a, b) {
                    return a.updated_at < b.updated_at;
                });

                d3.select('.date')
                    .text('Updated ' + formatDate(gists[gists.length - 1].updated_at));

                d3.select('.gists')
                    .selectAll('.gist')
                    .data(gists, function (d) { return d.id; })
                    .enter()
                        .append('a')
                        .attr('class', 'gist gist--thumbnail')
                        .attr('href', function (d) { return '/#{user.login}/' + d.id; })
                    .append('div')
                        .attr('class', 'gist-description gist-underline')
                        .text(function (d) { return d.description || d.id; });

            }

