html(lang="en")
    head
        title #{user.name}'s Alloy Visualizations
        style @import url('style.css');
        script(src='//d3js.org/d3.v5.min.js')

    body
        header
            div(class='column')
                a(href=user.html_url)
                    img(class='avatar' src=user.avatar width='30' height='30')
                    .
                        #{user.name}
                | 's Alloy Visualizations
                div(class='date')
                    | None yet...
        div(class='column')
            ul
                each gist in gists
                    li #{gist.description}

        //script.
            // console.log(!{JSON.stringify(gists)});

